body {
  font-family: 'Helvetica';
  background: linear-gradient(135deg, #F97794 10%, #623AA2 100%);
}
h1,
h2,
h3 {
  margin: 0.5rem 0;
}
h1 {
  font-size: 1.5rem;
}
h2 {
  font-size: 1.2rem;
}
h3 {
  font-size: 1rem;
}
a {
  text-decoration: none;
}
.row {
  display: grid;
  justify-content:space-between;
  grid-template-columns: repeat(4, 1fr);
  

}
.row.center {
  align-items: center;
}
.col-1 {
  flex: 1;
  margin: auto;
  
}
.col-2 {
  flex: 3;
  margin: auto;
  justify-content: space-evenly;
}
.block {
  background-color: currentColor;
  padding: 1rem;
  margin: 0.5rem;
  border-radius: 0.5rem;
  justify-content: space-between;
}
.text-right {
  text-align: right;
}
img.small {
  max-height: 8rem;
}
button {
  font-size: 0.8rem;
  padding: 0.2rem;
  margin: 0.1rem;
  border-radius: 0.5rem;
  border: 0.1rem #404040 solid;
  background-color: aquamarine;
  width: 80%;
  cursor: pointer;
}
button.add {
  background-color: #40c0f0;
  width: 1.5rem;
}
button.remove {
  background-color: #f04040;
  width: 1.5rem;
}
button.badge {
  background-color: #f04040;
  border: none;
  color: #ffffff;
  width: 1.5rem;
}

.section {
  width: 80px;
    /* margin: auto; */
    margin-top: 5%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    /* grid-template-rows: auto; */
}


